@model List<_02_ChangePriceQuery.Contract.Product.ProductQueryModel>

<main class="product-grid">
    @foreach (var product in Model)
    {
        <div class="product-card">
            <img src="~/ProductPicture/@product.Picture" alt="@product.PictureAlt" title="@product.PictureTitle" class="product-image" />

            <div class="product-info">
                <p class="title"><strong>@product.Name</strong></p>
                <p>قیمت هر @product.UnitOfMeasurement : @product.PriceInIran.ToString("N0") تومان</p>
                <p>قیمت هر @product.UnitOfMeasurement به دلار: @Math.Round(product.PriceInIran / product.UsdRate, 2) $</p>
                <p>قیمت هر @product.UnitOfMeasurement به درهم: @Math.Round(product.PriceInIran / product.AedRate, 2) AED</p>
                <p>موجودی: @product.DefaultCount @product.UnitOfMeasurement</p>

                <div class="input-group">
                    <input type="number"
                           min="1"
                           value="@product.DefaultCount"
                           id="count-@product.Id"
                           data-defaultcount="@product.DefaultCount"
                           onchange="updatePrice(@product.Id, @product.PriceInIran, @Math.Round(product.PriceInIran / product.UsdRate, 2), @Math.Round(product.PriceInIran / product.AedRate, 2))" />
                    <span>@product.UnitOfMeasurement</span>
                </div>
                <div id="errorMsg-@product.Id" class="error-message">مقدار بیش از حد مجاز است.</div>
            </div>

            <div class="divider"></div>

            <div class="final-prices">
                <p>قیمت نهایی به تومان: <span id="finalPrice-@product.Id">@((product.DefaultCount * product.PriceInIran).ToString("N0"))</span> تومان</p>
                <p>قیمت نهایی به دلار: <span id="finalPriceUsd-@product.Id">@((product.DefaultCount * (product.PriceInIran / product.UsdRate)).ToString("N2"))</span> $</p>
                <p>قیمت نهایی به درهم: <span id="finalPriceAed-@product.Id">@((product.DefaultCount * (product.PriceInIran / product.AedRate)).ToString("N2"))</span> AED</p>
            </div>
        </div>
    }
</main>